header .img-header-b {
    margin: 20px 0;
}

header .img-header .btnSearch {
    top: 0;
}

.sliderText input {
    width: 340px;
}
.business, .clinical
{
    padding-right: 3.5vw;
    
}
.personal, .conveyancing
{
    padding-right: 3.5vw;
}
