@media all and (max-width: 1920px) {
    .sliderBox {
        height: 680px;
    }

    .benefitsText {
        padding: 6vw 9vw 0 0vw;
    }


    .typesOfClient {
        height: 103vw;
    }

    .typesOfClient p {
        font-size: 25px;
    }
}

@media all and (max-width: 1600px) {
    .icon .line {
        margin-top: 6vw;
    }


    .benefitsImg {
        width: 900px;
    }

    .benefitsText {
        padding: 7vw 0vw 0 0;
        position: relative;
        left: -3vw;
    }

    .typesOfClient {
        height: 104vw;
    }

    .bText p {
        font-size: 22px;
    }

    .benefitsText .lineSmall {
        width: 503px;
    }

    .typesImg {
        left: -3vw;
    }
}

@media all and (max-width: 1440px) {

    header .img-header select,
    header .img-header input {
        width: 210px;
    }

    .sliderBox {
        height: 500px;
    }

    .icon .line {
        margin-top: 7vw;
    }

    .uniqueImg img {
        width: 523px;
        height: 420px;
    }

    .sliderText {
        top: -24vw;
    }

    .sliderText input {
        position: relative;
        top: -2vw;
    }

    .typesOfClient {
        height: 105vw;
    }

    .benefitsImg {
        width: 785px;
    }

    .places .col-md {
        margin: 0 40px;
    }

    .benefitsText {
        left: -1vw;
    }
}

@media all and (max-width: 1024px) {
    header .menu {
        padding: 10px 10vw;
    }

    header .img-header {
        padding: 0 10vw;
    }

    header .img-header select,
    header .img-header input {
        width: 200px;
    }

    .sliderBox {
        height: 350px;
    }

    .iconBox img {
        width: 125px;
        height: 125px;
    }

    .icon .line {
        margin-top: 6vw;
    }

    .iconBox {
        width: 170px;
    }

    .numSection .col-md {
        margin: 0 15px;
    }

    .numSection .col-md-4 {
        margin: 0px 19px;
    }

    .benefitsImg {
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        left: -1vw;
    }

    .benefitsText {
        padding: 5vw 0vw 0 0;
        position: relative;
        left: 5vw;
    }

    .benefitsSection {
        width: 100vw;
        height: 600px;
    }

    .sliderText {
        top: -24vw;
    }

    .sliderText input {
        width: 270px;
        height: 33px;
        font-size: 12px;
        position: relative;
        top: -4vw;
    }

    .sliderText p {
        font-size: 17px;
    }

    .sliderText h1 {
        font-size: 50px;
    }

    .uniqueImg {
        padding: 0 50px;
    }

    .uniqueImg img {
        width: 430px;
        height: 345px;
    }

    .unique {
        padding: 15px 0;
       
    }

    .places .col-md {
        width: 280px;
        margin: 0 24px;
    }

    .places .col-md .imgTree {
        margin-top: 4vw;
    }

    .typesOfClient {
        height: 111vw;
    }

    .typesOfClient p {
        font-size: 24px;
    }

    .business {
        margin: 18vw 11vw 0 0;
    }

    .clinical {
        margin: 33vw 0 0 12vw;
    }

    .conveyancing {
        margin-top: 11vw;
            padding-left: 1vw;
    }
    .personal {
    padding-left: 1.3vw;
            margin-top: 6vw;
}

    footer .menu {
        padding: 10px 10vw;
    }

    footer .footerIcon {
        padding: 20px 10vw;
    }

    .bText p {
        font-size: 18px;
    }

    .benefitsText .lineSmall {
        width: 425px;
    }

    .bText img {
        width: 35px;
        height: 35px;
    }
}
